# Dependencies
node_modules
.pnp
.pnp.js

# Testing
.coverage
.env.test

# Next.js
.next/
out/
build/

# Production
.vercel

# Misc
.DS_Store
*.pem

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
